<h1><%= @cocktail.cocktail_name %></h1>

<h2>Category: <%= @cocktail.category.category_name %></h2>

<h2>All ingredients:</h2>
<ul>
    <% @cocktail.ingredients.each do |i| %>
        <li><%=i.ingredient_name%></li>
    <% end %>
</ul>

<h2>Instruction:</h2>
<p><%= @cocktail.instruction %></p>

<h2>Image:</h2>
<img src=<%= @cocktail.image %> alt="cocktail" height=200>

<h2>Price: <%=number_to_currency @cocktail.price / 100.0 %></h2>
<p><%= button_to 'Add to cart', add_to_cart_path(@cocktail.id), method: :post%></p>